spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/gollagolla?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8&allowPublicKeyRetrieval=true
    username: YOUR_DB_USERNAME
    password: YOUR_DB_PASSWORD

  jpa:
    properties:
      hibernate:
        show_sql: true
        format_sql: false
        highlight_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration
